.venv

.env*
getting_started_django

__pycache__


# npm modules directory
# npm packages are installed in `node_modules/` directory.
node_modules/

# Actual quiz data file.
# Managing this file leads to unintegrity of quiz data and model.
db.sqlite3

# Ignores gemini cli files
*.skill
.gemini

# Getting started with new  technology
study